body {
    width: 85%;
    margin: 2% 7%;
}

.navHeader {
    position: relative;
}

.menuNav {
    background-color: rgb(3, 3, 24);
    text-align: right;
    height: 40px;
    border-bottom: solid rgb(3, 3, 24) 1px;
    margin: 0;
}

.imgLogo {
    position: absolute;
    top: 3px;
    left: 60px
}

.imgHead {
    width: 100%;
}

.menuNav li {
    list-style: none;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 30px;
    padding: 10px 0;
}

.menuNav a {
    font-size: 12px;
    text-transform: uppercase;
    font-family: sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
}

article {
    margin: 50px 40px;
}

section {
    margin: 50px 40px;
}

article h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

article p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.5);
}

.containerModels div {
    display: inline-block;
}

.modelTitle {
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 2px;
}

.modelP {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

.model2 {
    margin: 0px 4.6%
}

.containerModels img {
    width: 100%;
}

.sectionPage{
    position: relative;
    background-color: black;
    background-image: url(../imagens/bg_detalhe.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: bottom right ;
    background-size: unset;
    color: white;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-bottom: 40px;
}

.sectionContent {width: 60%; height: 40%; position: absolute; left: 100px; top: 100px;}

.sectionContent h1 {font-size: 35px;  text-transform: uppercase;}

.sectionContent p {color: rgba(255, 255, 255, 0.9);}

h2 {text-align: center; color: black; font-family: Arial, Helvetica, sans-serif; text-transform: uppercase; margin: 0;}

.maps {margin-top: 40px; width: 100%;}

footer {background-color: black; color: white; padding: 5px; text-align: center; letter-spacing: 3px; margin-top: 30px;}
