body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
    margin: 0px;
}

.headerPage {
    background-image: url(bg-3.jpg);
    background-position: right center;
    background-size: cover;
    height: 500px;
    border-top: solid transparent 1px;
}

.headerPage ul{
    text-align: right;
    margin: 5px 10px 0px 0px;
}

.headerPage li{
    list-style: none;
    background: rgba(0,0,0, 0.2);
    display: inline-block;
    padding: 10px;
    margin: 8px;
    border: solid white 0.5px;
}

.headerPage a{
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
}

.headerPage li:hover{
    background: rgba(0,0,0, 0.3);
}

.divHeader {
    text-align: center;
    color: white;
    margin-top: 50px;
}

.divHeader h1 {
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 5px 5px 5px black;
}

main {
    width: 80%;
    margin: auto;
}

.headerArticle h2 {
    background-color: lightgray;
    padding: 8px;
    border-bottom: 5px solid gray;
}

.sectionContends {
    background-color: white;
    padding: 15px;
    margin: 10px;
}

.footer {
    background-color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    color: white;
    height: 40px;
    text-shadow: 3px 3px 5px black;
}